@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Mitr:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  --nv-fallback-ff: Arial, Helvetica, sans-serif;
  --nv-default-ff: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI;

  --gest-open-sans-ff: Open Sans Regular, Open Sans;
  --gest-open-sans-wght-normal: 400;
  --gest-open-sand-wght-bold: 600;
  --gest-mitr-ff: Mitr Regular, Mitr;
  --gest-mitr-wght-normal: 400;
  --gest-mitr-wght-bold: 600;
  --gest-kalam-ff: Kalam;
  --gest-kalam-wght-bold: 700;

  --gest-text-ff: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-heading-ff: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-logo-ff: var(--gest-mitr-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-logo-wght-normal: var(--gest-mitr-wght-normal);
  --gest-logo-wght-bold: var(--gest-mitr-wght-bold);
  --gest-handwriting-ff: var(--gest-kalam-ff), var(--nv-default-ff), var(--nv-fallback-ff);

  --gest-bodyfontfamily: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
}
