/* ============================================================[ general ]=== */

[data-row-id] {
  color: var(--gest-color);
  background: var(--gest-bgcolor);
}

[data-row-id] a {
  color: var(--gest-color);
}

/* =========================================================[ typography ]=== */

body {
  font-family: var(--gest-bodyfontfamily);
  color: var(--gest-text-color);
  background-color: var(--gest-site-bg);
}

/* ===========================================================[ nav-brand ]===*/

.site-logo {
  font-family: var(--gest-logo-ff);
  font-weight: var(--gest-logo-wght-normal);
}

.site-logo h1, .site-logo p {
  font-weight: var(--gest-logo-wght-bold);
}

/* Hide sub-text in logo by default. */
.site-logo small {
  display: none;
}

/* By default, don't force wrapped text in logo. */
.site-logo .nv-title-tagline-wrap {
  min-width: inherit;
}
