.uagb-post-grid .uagb-post__image img {
  border-radius: var(--gest-img-border-radius);
  overflow: hidden;
}

.uagb-infobox__outer-wrap {
  border-radius: var(--gest-img-border-radius);
  overflow: hidden;
}
