:root {
  --gest-text-ff: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-text-wght-normal: var(--gest-open-sans-wght-normal);
  --gest-text-wght-bold: var(--gest-open-sans-wght-bold);
  --gest-heading-ff: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-heading-wght: var(--gest-open-sans-wght-bold);
  --gest-logo-ff: var(--gest-mitr-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-logo-wght-normal: var(--gest-mitr-wght-normal);
  --gest-logo-wght-bold: var(--gest-mitr-wght-bold);
  --gest-handwriting-ff: var(--gest-kalam-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-fontfamily: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-fontweight: var(--gest-open-sans-wght-normal);
  --gest-fontweight-bold: var(--gest-open-sans-wght-bold);
  --gest-logo-fontfamily: var(--gest-mitr-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-logo-fontweight: var(--gest-mitr-wght-normal);
  --gest-logo-fontweight-bold: var(--gest-mitr-wght-bold);
  --gest-bodyfontfamily: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-formfieldfontfamily: var(--gest-open-sans-ff), var(--nv-default-ff), var(--nv-fallback-ff);
  --gest-formfieldfontweight: var(--gest-open-sans-wght-normal);
}
