 .widget_gtranslate {
  text-align: right;
}

.widget select.gt_selector {
  font-size: 14px;
  line-height: 16px;
  min-height: 25px;
  padding: 0px 12px;
  width: inherit;
}

.nav-ul li a.glink {
  display: inline;
}

.nav-ul li select.gt_selector {
  display: flex;
  width: 100%;
}
