:root {
  --nv-primary-accent: var(--gest-primary-accent);
  --nv-secondary-accent: var(--gest-secondary-accent);
  --nv-site-bg: var(--gest-site-bg);
  --nv-light-bg: #f4f5f7;
  --nv-dark-bg: #121212;
  --nv-text-color: var(--gest-text-color);
  --nv-text-dark-bg: var(--gest-text-on-dark-color);
  --nv-c-1: #9463ae;
  --nv-c-2: #be574b;
  --nv-fallback-ff: arial, helvetica, sans-serif;
}

.header-main {
  --bgcolor: var(--gest-site-bg);
}

.footer-top {
  --bgcolor: var(--gest-site-bg);
}
