.builder-item .item--inner {
  color: var(--gest-color);
  font-family: var(--gest-fontfamily);
  font-weight: var(--gest-fontweight);
}

form select,
.widget select,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
form input:read-write,
form select option,
form textarea,
form.wp-block-search input.wp-block-search__input {
  background: var(--gest-formfieldbgcolor);
  color: var(--gest-formfieldcolor);
  font-family: var(--gest-formfieldfontfamily);
  font-weight: var(--gest-formfieldfontweight);
}

.wp-block-cover {
  border-radius: var(--gest-img-border-radius);
  margin-bottom: 12px;
  overflow: hidden !important;
}

img.scaled-image {
  /* Default configured margin breaks layout. */
  margin: inherit;
}

.wp-block-image img {
  border-radius: var(--gest-img-border-radius);
  display: block;

  /* Center Image */
  margin: 0 auto;
}

.wp-block-image {
  margin-bottom: 12px;
}

/* =====================================================[+ Download Button +] */

a.wp-block-file__button {
  background: var(--gest-block-button-bg);
  color: var(--gest-block-button-fg);
}

a.wp-block-file__button:focus, a.wp-block-file__button:hover {
  color: var(--gest-block-button-active);
}

/* =====================================================[- Download Button -] */

/* ========================================================[+ WP Admin Bar +] */

/*
 * Tuning, especially to fix possible overflow issue because of too many icons
 * in the toolbar.
 */

#wpadminbar #wp-admin-bar-root-default > li,
#wpadminbar #wp-admin-bar-top-secondary > li {
  /* By default, hide all menu items, so that we may allow them explicitly. */
  display: none;
}

#wpadminbar #wp-admin-bar-root-default > #wp-admin-bar-wp-logo,
#wpadminbar #wp-admin-bar-root-default > #wp-admin-bar-wpa-logout,
#wpadminbar #wp-admin-bar-root-default > #wp-admin-bar-site-name,
#wpadminbar #wp-admin-bar-root-default > #wp-admin-bar-new-content,
#wpadminbar #wp-admin-bar-root-default > #wp-admin-bar-edit,
#wpadminbar #wp-admin-bar-root-default > #wp-admin-bar-tribe-events,
#wpadminbar #wp-admin-bar-top-secondary > #wp-admin-bar-search,
#wpadminbar #wp-admin-bar-top-secondary > #wp-admin-bar-my-account {
  display: initial;
}

@media (width <= 600px) {
  /* Remove strange top-margin on small screens. */
  html,
  body {
    margin-top: 0 !important;
  }
}

/* ========================================================[- WP Admin Bar -] */
