@media screen and (width >=960px) {
    /* Hook, to add styling for desktop screens. */

    /* <editor-fold desc="Two-Column Layout for Glossary List"> */
    .glossary-container {
        text-align: center;
    }

    ul#glossaryList {
        display: inline-block;
        width: 90%;
    }

    ul#glossaryList li {
        float: left;
        list-style: outside none none;
        text-align: left;
        width: 50%;
    }

    /* </editor-fold> */
}
