/* ----------------------------------------------------[+ Dark Page Border +] */

body {
  background: var(--gest-site-border);
}

[data-row-id] {
  background: initial;
}

[class*="row-inner"] {
  background: initial;
}

.header-menu-sidebar-bg {
  background: var(--gest-sidebar-bg);
}

.row, .container {
  background: var(--gest-site-bg);
}

/*
 * Attaches the footer directly to <main>. This especially is applicable to
 * small page-contents, where otherwise, a dark gap will appear between the
 * main content and the footer.
 */
.neve-main {
  display: flex;
}

/* ----------------------------------------------------[- Dark Page Border -] */

/* ------------------------------------------------------[+ Search Overlay +] */

/*
 * Half-transparent, but opaque background in search field.
 */

.nv-nav-search {
  background-color: var(--gest-search-bg);
  box-shadow: var(--gest-search-shadow) 0 8px 24px;
}

.search-form {
  background: var(--gest-site-bg);
}

/* ------------------------------------------------------[- Search Overlay -] */

.builder-item--secondary-menu {
  --fontfamily: var(--gest-fontfamily);
  --fontweight: var(--gest-fontweight-bold);
}

/* Darken nested menu items more and more by depth. */
.hfg_header .header-menu-sidebar .header-menu-sidebar-bg .nav-ul .sub-menu {
  background-color: var(--gest-darken-04);
}

.site-logo {
  --fontfamily: var(--gest-logo-fontfamily);
}

.site-logo h1, .site-logo p {
  --fontweight: var(--gest-logo-fontweight-bold);

  font-family: var(--fontfamily);
  font-weight: var(--fontweight);
}

.site-logo small {
  --fontweight: var(--gest-logo-fontweight);

  /* Hide sub-text in logo by default. */
  display: none;
  font-family: var(--fontfamily);
  font-weight: var(--fontweight);
}

/* By default, don't force wrapped text in logo. */
.site-logo .nv-title-tagline-wrap {
  min-width: inherit;
}

/* =============================================================[ footer ]=== */

/* Hide Neve Footer */
.footer-bottom {
  display: none;
}

/* Apply Border from Header also to Footer, but at top. */
.site-footer {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

/* Add Rounded Borders To Default Blog Post Images */
.nv-thumb-wrap img {
  border-radius: var(--gest-img-border-radius);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
