.builder-item .item--inner {
  color: var(--gest-color);
  font-family: var(--gest-fontfamily);
  font-weight: var(--gest-fontweight);
}

.widget select,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
form input:read-write,
form select,
form select option,
form textarea,
form.wp-block-search input.wp-block-search__input {
  background: var(--gest-formfieldbgcolor);
  color: var(--gest-formfieldcolor);
  font-family: var(--gest-formfieldfontfamily);
  font-weight: var(--gest-formfieldfontweight);
}

.wp-block-cover {
  border-radius: var(--gest-img-border-radius);
  margin-bottom: 12px;
  overflow: hidden !important;
}

img.scaled-image {
  /* Default configured margin breaks layout. */
  margin: inherit;
}
