.uagb-post-grid .slick-track .uagb-post__inner-wrap {
  background: var(--gest-uag-posts-bg);
}

.uagb-post-grid button.slick-arrow svg {
  fill: var(--gest-text-color);
}

#content div.uagb-post-grid ul.slick-dots li.slick-active button::before,
#content div.uagb-post-grid ul.slick-dots li:hover button::before {
  opacity: 1;
  color: var(--gest-text-color);
}

#content div.uagb-post-grid ul.slick-dots li button::before {
  opacity: 0.5;
  color: var(--gest-text-color);
}
