@media print {
  .cff-critical-notice {
    display: none !important;
  }

  #cff .cff-error-msg {
    display: none !important;
  }

  /*
   * Hide heading in front of feed.
   */
  .wp-block-heading:has(+ .cff-wrapper) {
    display: none !important;
  }

  /* Feed-Preview looks ugly in print layout. Just remove. */
  #cff .cff-posts-wrap {
    display: none !important;
  }
}
